.item {
  // padding: 5px;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
    max-width: 274px;
    flex-grow: 1;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery-item_image,
.gallery-item_noimage {
  margin-bottom: 10px;
  border-radius: 5px;
  max-height: 398px;
  // transform: translateY(1%);
  // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
  @media screen and (min-width: 1024px) {
    max-width: 274px;
    max-height: 398px;
  }
}
// .gallery-item_image:hover,
// .gallery-item_noimage:hover {
//   box-shadow: (
//     10px 10px 5px 2px rgba(238, 176, 54, 0.75),
//     20px 4px 6px rgba(230, 113, 35, 0.12),
//     1px 4px 4px rgba(211, 128, 19, 0.06)
//   );
//   transform: translateY(0);
// }
.gallery-item_year {
  color: var(--btn-bg-primary-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-right: 5px;
}
.gallery-item_delimeter {
  margin-right: 5px;
}

.gallery-item_title,
.gallery-item_title-watched {
  color: var(--secondary-text-color);
  text-align: start;
}
.gallery-item_genres-list {
  display: flex;
  color: var(--btn-bg-primary-color);
}
.gallery-item_genres-item {
  margin-right: 5px;
}
.gallery-item_rating {
  color: var(--primary-text-color);
  display: flex;
  width: 36px;
  height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--btn-bg-primary-color);
}
.card-thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transform: translateY(1%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bg-color);

  &:hover {
    box-shadow: (
      10px 10px 5px 2px rgba(238, 176, 54, 0.75),
      20px 4px 6px rgba(230, 113, 35, 0.12),
      1px 4px 4px rgba(211, 128, 19, 0.06)
    );
    transform: translateY(0);
  }
}

// .gallery-item_text-thumb {
//   display: flex;
//   align-items: center;
// }
.gallery-item_noimage {
  width: 100%;
  max-height: 400px;
  background-color: #000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
