.modal-open {
  overflow: hidden;
}

.backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: var(--backdrop-bg);
  opacity: 1;
  transition: opacity var(--standard-animation);
}

.button__scrollup {
  position: fixed;
  right: 30px;
  box-shadow: none;
  bottom: 100px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.button__svg {
  fill: var(--secondary-text-color);
}
