<div class="library-header__buttons__wrapper">
    <button type="button" class=" library-header__button btn__watch lng-watchedLib" data-id="{{id}}">Watched</button>
    <button type="button" class="library-header__button btn__queue lng-queueLib" data-id="{{id}}">Queue</button>
</div>
