<div class='container'>
<section class="mylibrary ">
    <div class="authentication">
        <ul id="login-nav" class="authentication__list">
            <div class="authentication__option authentication__loggedin">
                <li class="">
                    <button type="button" id="account-button" class="btn authentication__button  authentication_account-btn visually-hidden"
                        data-target="modal-account">Account</button>
                </li>
                <li class="">
                    <button type="button" id="logout-button" class="btn authentication__button authentication__logout"
                        id="logout">Logout</button>
                </li>
            </div>
            </span>
        </ul>
    </div>

    <!-- ACCOUNT MODAL -->
    <div id="modal-account" class="authentication__modal visually-hidden">
        <button type="button" class="authentication__modal-close"></button>
        <div class="">
            <h2 class="modal__heading">Account details</h2>
            <br />
            <div class="account-details"></div>
        </div>
    </div>
    <ul id="galleryLib" class='watched-list gallery is-hidden'>
    
    </ul>
</section>
</div>