<ul class="mylibrary__slideshow">
    <li>
        <span></span>
    </li>
    <li><span></span></li>
    <li><span></span>
    </li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
</ul>