:root {
  --mobile-width: 320px;
  --tablet-width: 768px;
  --desktop-width: 1024px;

  --main-font: 'Roboto', sans-serif;

  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;

  --bg-color: #ffffff;

  --btn-bg-primary-color: #ff6b01;
  --btn-bg-secondary-color: #ffffff;

  --footer-text-color: #545454;
  --footer-bg-color: #f7f7f7;
  --footer-modal-shadow: 28px 30px 82px 61px rgba(86, 88, 90, 0.71);
  --footer-cards-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
