<footer class="footer">
  <span class="footer__copyright lng-rights">© 2021 | All Rights Reserved | </span>
  <span class="footer__developers">
    <span class="footer__developers lng-developer">Developed with</span>
    <svg width="14" height="13" class="footer__svg" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m7 12.88-.98-.98C2.38 8.68 0 6.51 0 3.85 0 1.68 1.68 0 3.85 0 5.04 0 6.23.56 7 1.47 7.77.56 8.96 0 10.15 0 12.32 0 14 1.68 14 3.85c0 2.66-2.38 4.83-6.02 8.05l-.98.98Z"
        fill="#FF6B08"
      />
    </svg>
    <span class="lng-by">by</span> <a href="#" class="footer__link lng-students">GoIT Students</a>
  </span>
</footer>
<div class="footer__modal is-hidden">
  <button type="button" class="footer__button"></button>
  <h2 class="footer__heading lng-team">Opportunity Team</h2>
  <ul class="footer__members">
    <li class="footer__member member__one">
      <img src="./images/team/Olha.jpg" alt="Olha" width="140" height="140" class="footer__image" />
     <p class="lng-olha">Olha</p> 
    </li>
    <li class="footer__member member__two">
      <img src="./images/team/Olexandr.jpg" alt="Oleksandr" width="140" height="140" class="footer__image" />
     <p class="lng-oleksandr">Oleksandr</p> 
    </li>
    <li class="footer__member member__three">
      <img
        src="./images/team/Anastasiia.jpg"
        alt="Anastasiia"
        width="140"
        height="140"
        class="footer__image"
      />
     <p class="lng-anastasiia">Anastasiia</p> 
    </li>
    <li class="footer__member member__four">
      <img
        src="./images/team/Margarita.jpg"
        alt="Margarita"
        width="140"
        height="140"
        class="footer__image"
      />
     <p class="lng-margarita">Margarita</p> 
    </li>
    <li class="footer__member member__five">
      <img
        src="./images/team/Evgeniy.jpeg"
        alt="Evgeniy"
        width="140"
        height="140"
        class="footer__image"
      />
    <p class="lng-evgeniy">Evgeniy</p> 
    </li>
    <li class="footer__member member__six">
      <img
        src="./images/team/Andrew.jpg"
        alt="Andrew"
        width="140"
        height="140"
        class="footer__image"
      />
     <p class="lng-andrew">Andrew</p> 
    </li>
  </ul>
</div>
