<div id="films-container" class="container">
  <ul class="list gallery">
    <!-- Список <li> с карточками изображений -->
    <li class="item gallery-item">
      <img src="" class="gallery-item_image" data-source=" " alt="" />
      <div class="gallery-item_text">
        <p class="title gallery-item_title">Название</p>

        <p class="gallery-item_year">Жанры | Год</p>
      </div>
    </li>
    <li class="item gallery-item">
      <img src="" class="gallery-item_image" data-source=" " alt="" />
      <div class="gallery-item_text">
        <p class="title gallery-item_title">Название</p>

        <p class="gallery-item_year">Жанры | Год</p>
      </div>
    </li>
    <li class="item gallery-item">
      <img src="" class="gallery-item_image" data-source=" " alt="" />
      <div class="gallery-item_text">
        <p class="title gallery-item_title">Название</p>

        <p class="gallery-item_year">Жанры | Год</p>
      </div>
    </li>
    <li class="item gallery-item">
      <img src="" class="gallery-item_image" data-source=" " alt="" />
      <div class="gallery-item_text">
        <p class="title gallery-item_title">Название</p>

        <p class="gallery-item_year">Жанры | Год</p>
      </div>
    </li>
  </ul>
</div>
