<header>
  <div class="header">
    <div class="leftbox">
      <svg class="logo" width="24" height="24">
        <use href="./images/logo/logo.svg"></use>
      </svg>
      <h1>filmoteka</h1>
    </div>
    <div class="lang">
      <select class="change-lang">
        <option value="en">EN</option>
        <option value="ru">RU</option>
        <option value="ua">UA</option>
      </select>
    </div>
    <div class="search">
      <input class="search-film" placeholder="Поиск фильмов" />
    </div>
    <div class="rightbox">
      <div class="library">
        <a href="#">Home</a>
        <a href="#">My library</a>
      </div>
      <div class="login">
        <button>Log In</button>
        <button>Create your Account</button>
      </div>
    </div>
  </div>
</header>
