<header>
  <div class="header home-header">
    <div class="menu">
      <div class="logo">
        <a class="logo__link" href="index.html">
          <svg
            class="logo-img"
            width="24"
            height="24"
            fill="none"
            stroke="#818181"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.82 2H4.18A2.18 2.18 0 0 0 2 4.18v15.64A2.18 2.18 0 0 0 4.18 22h15.64A2.18 2.18 0 0 0 22 19.82V4.18A2.18 2.18 0 0 0 19.82 2ZM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5M17 17h5M17 7h5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="logo-text"> Filmoteka</span></a
        >
      </div>

      <div class="menu-navigation">
        <div class="navigation">
          <a class="navigation-text navigation__home lng-home current" href="index.html">Home</a>
          <a class="navigation-text navigation__library lng-library" href="#">My library</a>
        </div>

        <div class="lang">
          <select name="select-language" class="change-lang">
            <option value="en">EN</option>
            <option value="ru">RU</option>
            <option value="ua">UA</option>
          </select>
        </div>
      </div>
    </div>

    <div class="search">
      <input class="search-film lng-placeholder" placeholder="Поиск фильмов" />

      <svg class="search-img" width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10.5 10.5002L8.32495 8.3252"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</header>
