body {
  margin: 0;
}

.home-header {
  width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/header_1@1x_mobile.jpg);
  background-size: 100% 230px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/header_1@2x_mobile.jpg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/header_1@1x_tablet.jpg);
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  @media screen and (min-width: 768px) {
    .header {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/tablet/header_1@2x_tablet.jpg);
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/header_1@1x_desktop.jpg);
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  @media screen and (min-width: 1024px) {
    .header {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/desktop/header_1@2x_desktop.jpg);
      background-repeat: no-repeat;
    }
  }
}

.menu {
  display: flex;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.menu-navigation {
  display: flex;
  align-items: baseline;
  align-items: center;
}

.logo {
  align-items: baseline;
}

.logo__link:hover .logo-img,
.logo__link:focus .logo-img {
  stroke: var(--btn-bg-primary-color);
  animation-play-state: paused;
}
.logo__link:hover .logo-text,
.logo__link:focus .logo-text {
  color: var(--btn-bg-primary-color);
}
@media screen and (max-width: 767.9px) {
  .logo-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo-text {
    align-items: center;
    text-align: center;
    transition: color var(--duration) var(--timing-function);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;

    color: var(--primary-text-color);
  }
}

.logo-img {
  margin-right: 10px;
  animation: logoRotate 4s infinite alternate-reverse;
  transition: stroke var(--duration) var(--timing-function);
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .logo-img:hover {
//   animation-play-state: paused;
// }

.navigation {
  display: flex;
}

.navigation-text {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
  transition: color var(--duration) var(--timing-function);

  &:hover {
    color: var(--btn-bg-primary-color);
  }
}

.navigation-text:not(:last-child) {
  margin-right: 40px;
}

.current {
  position: relative;

  &::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: -5px;

    width: 105%;
    height: 4px;
    background-color: var(--btn-bg-primary-color);
  }
}

.search {
  position: relative;

  display: flex;
  justify-content: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .search {
    width: 336px;
  }
}

.search-film {
  width: 280px;
  border: none;
  border-bottom: 0.5px solid var(--primary-text-color);
  outline: none;
  background: none;
  color: var(--primary-text-color);
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .search-film {
    width: 336px;
  }
}

.search-film::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: var(--primary-text-color);
}

.search-img {
  position: absolute;
  content: '';

  top: 50%;
  left: 95%;

  transform: translateY(-50%);
}

//select
.lang {
  position: relative;
  margin-left: 50px;
}

.change-lang {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  color: var(--btn-bg-primary-color);

  border: none;
  background-color: transparent;
  outline: none;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 15px;

  font-weight: 500;

  cursor: pointer;
}

.change-lang::-ms-expand {
  display: none;
}

.lang::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 5px;

  transform: translateY(-50%);

  display: block;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: var(--btn-bg-primary-color) transparent transparent transparent;

  pointer-events: none;
}

.library-header {
  width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/header_2@1x_mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 230px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .library-header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/header_2@2x_mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
  }
}

@media screen and (min-width: 768px) {
  .library-header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/header_2@1x_tablet.jpg);
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  @media screen and (min-width: 768px) {
    .library-header {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/tablet/header_2@2x_tablet.jpg);
      background-repeat: no-repeat;
      background-size: 100% 230px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .library-header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/header_2@1x_desktop.jpg);
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  @media screen and (min-width: 1024px) {
    .library-header {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/desktop/header_2@2x_desktop.jpg);
      background-repeat: no-repeat;
      background-size: 100% 230px;
    }
  }
}

.library-header__buttons__wrapper {
  display: flex;
  justify-content: center;
}

.library-header__button {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--btn-bg-secondary-color);
  background-color: Transparent;
  cursor: pointer;
  border: 1px solid var(--btn-bg-secondary-color);
  transition: all var(--duration) var(cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus,
  &:active {
    background-color: var(--btn-bg-primary-color);
    color: var(--primary-text-color);
    border: 1px solid var(--btn-bg-primary-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 125px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.library-header__button:first-child {
  margin-right: 15px;
}

.library-header__button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}
