.modal-film__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  max-height: 958px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 20px 40px 20px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: var(--bg-color);
}
.modal-close__btn-wrapper {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}
.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.modal-film__img-container {
  margin-bottom: 30px;
  // height: 356px;
}

.modal-film__img,
.modal-film_noimg {
  overflow: hidden;
  border-radius: 5px;
}
.modal-film__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.modal-film__title {
  font-size: 20px;
  line-height: 1.15;
  padding-bottom: 10px;
}
.modal-film__info {
  display: flex;
}
.modal-film__info:not(:last-child) {
  padding-bottom: 10px;
}
.modal-film__info--names {
  color: var(--modal-film-text-color);
  min-width: 108px;
}
.modal-film__info--text {
  text-transform: uppercase;
  line-height: 1.33;
}
.modal-film__rating {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-text-color);
  background-color: var(--btn-bg-primary-color);
  border-radius: 5px;
}
.modal-film__rating--divider {
  margin-right: 3px;
}
.modal-film__about {
  margin-bottom: 21px;
}
.modal-film__about--title {
  line-height: 1.33;
  padding-bottom: 5px;
}
.modal-film__about--text {
  line-height: 1.67;
  text-transform: uppercase;
}
.modal-film__button__wrapper {
  padding-top: 20px;
  display: flex;
}
.modal-film__button {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--btn-bg-secondary-color);
  cursor: pointer;
  border: 1px solid var(--secondary-text-color);
  transition: all var(--duration) var(cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus {
    background-color: var(--btn-bg-primary-color);
    color: var(--primary-text-color);
    border: 1px solid var(--btn-bg-primary-color);
  }
}

.modal-film__button:first-child {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .modal-film__container {
    flex-direction: row;
    width: 618px;
    height: auto;
    padding: 42px 30px 40px 30px;
  }

  .modal-film__img-container {
    overflow: hidden;
    border-radius: 5px;
    max-width: 264px;
    height: 374px;
  }
  // .modal-film__img {
  //   width: 264px;
  //   height: 373px;
  // }

  .modal-film__description {
    width: 265px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal-film__button {
    width: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-film__container {
    min-width: 882px;
  }

  .modal-film__img-container {
    overflow: hidden;
    border-radius: 5px;
    max-width: 396px;
    height: 478px;
  }
  // .modal-film__img {
  //   // object-fit: contain;
  //   // overflow: hidden;
  //   width: 396px;
  //   height: 478px;
  // }
  .modal-film__description {
    width: 400px;
  }
  .modal-film__title {
    font-size: 30px;
    line-height: 1.17;
  }
  .modal-film__button {
    width: 136px;
  }
}
